<?xml version="1.0" encoding="UTF-8"?>
<web-app 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			id="WebApp_ID" 
			version="2.5">
    <display-name>VFSFileExplorerPortlet</display-name>
      <servlet>
  	<servlet-name>servlet</servlet-name>
  	<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>

  	<init-param>
  		<description>Vaadin application class to start</description>
  		<param-name>application</param-name>
  		<param-value>de.unioninvestment.portal.VFSFileExplorerPortlet</param-value>
  	</init-param>

    <init-param>
        <description>Application widgetset</description>
        <param-name>widgetset</param-name>
        <param-value>de.unioninvestment.portal.VFSWidgetSet</param-value>
    </init-param>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/*</url-pattern>
 </servlet-mapping>

</web-app>
